/* index.css */
html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

nav a.active {
    font-weight: bold;
    color: #007bff;
}



@media (max-width: 768px) {
    nav {
        flex-direction: column !important;
        align-items: flex-start !important;
    }

    nav h2 {
        margin-bottom: 10px;
    }

    nav div {
        flex-direction: column !important;
        gap: 10px !important;
    }

    .project-card {
        width: 90% !important;
    }

    .nav-links {
        display: none !important;
    }

    .hamburger {
        display: flex !important;
    }
}
